/* Webfont: BloggerSans */
@font-face {
  font-family: "BloggerSans";
  src: url("lib/BloggerSans/BloggerSans.eot"); /* IE9 Compat Modes */
  src: url("lib/BloggerSans/BloggerSans.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("lib/BloggerSans/BloggerSans.woff") format("woff"),
    /* Modern Browsers */ url("lib/BloggerSans/BloggerSans.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("lib/BloggerSans/BloggerSans.svg#BloggerSans") format("svg"); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
:root {
  /* --CPwidth: 33%; */
  --CPwidth: 400px;
}

.instructions {
  display: inline-flex;
  /* display: auto; */
  flex-direction: column;
  width: var(--CPwidth);
  vertical-align: top;
  /* background: black; */
  background-color: #221d1f;
  color: white;
  padding: 15px;
  position: absolute;
  z-index: 1000;
  height: calc(100vh - 30px);
  font-size: 16px;
  font-family: "BloggerSans", Georgia;
  margin: 8px;
}
#ul-corner {
  position: inherit;
  height: 1em;
  width: 1em;
  top: 0.5em;
  left: 0.5em;
}

#ur-corner {
  position: inherit;
  height: 1em;
  width: 1em;
  top: 0.5em;
  right: 0.5em;
}

#logo {
  position: relative;
  top: 0em;
  /* right: 50%; */
  margin: 5px auto;
  padding-left: 1em;
  padding-right: 1em;
  width: 180px;
}
#ll-corner {
  position: inherit;
  height: 1em;
  width: 1em;
  /* top: 10.5em; */
  bottom: 0.5em;
  left: 0.5em;
}

#lr-corner {
  position: inherit;
  height: 1em;
  width: 1em;
  /* top: 10.5em; */
  bottom: 0.5em;
  right: 0.5em;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0;
}

/* #interact{ */
/* position: relative;
    top: 5vh;
    height: 20vh; */
/* } */

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-gap: 0px;
  /* padding: 10px; */
}

.grid-item {
  background-color: #221d1f;
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  border: 1px solid #221d1f;
  padding: 1px;
  /* font-size: 30px; */
  text-align: center;
  /* height: 2em; */
  margin-top: 5px;
}

.grid-item.zoombtn {
  text-align: left;
}
.grid-item.zoombtn img {
  padding: 0px 8px;
  position: relative;
  top: 5px;
}
.logo {
  grid-row: 1 / span 6;
}
.informationPanal {
  grid-column: 1 / span 2;
  margin-top: 10px;
  margin-bottom: 10px;
}
.labeltxt {
  text-align: left;
  color: #f2c885;
  margin-bottom: -20px;
}
#zoomText {
  display: inline-block;
  width: 30px;
  text-align: center;
  position: relative;
  top: 0;
}

.collapsible {
  position: absolute;
  top: 50%;
  left: calc(var(--CPwidth) + 20px);
  z-index: 1000;
  /* background: #221D1F; */
}

/* .labeltxt span { */
  /* position: relative; */
  /* top: 8px; */
/* } */

.tab button {
  width: 33%;
  font-family: 'BloggerSans';
  font-size: 16px;
}

.tabcontent {
  min-height: 100px;
}

#gridCollapse {
  cursor: pointer;
}

#downarrow,
#uparrow {
  cursor: pointer;
  margin-left: 20px;
}
#uparrow {
  margin-top: 15px;
}

#legend_img {
  overflow-y: scroll;
  height: 400px;
  padding: 5px;
}

#legend_img::-webkit-scrollbar {
  width: 5px;
}

#legend_img::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

#legend_img::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px lightgrey;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

#no_selection_description{
  text-align: center;
  color: #f2c885;
  font-style: italic;
}

#Selection img {
  overflow: hidden;
  /* max-width:300px; */
  /* height:150px; */
}
#SelectionName {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
#selection_subtitle, #selectionAltName {
  text-align: center;
  font-size: 16px;
  margin: 5px;
  color: #f2c885;
}

#selection_subtitle{
  margin-bottom: 10px;
}
#img_attribution {
  font-size: small;
  color: #f2c885;
  text-align: left;
  padding: 0px 0px;
  margin-bottom: 10px;
  left: 35px;
}

#selection_description{
  margin-top: 30px;
}
.hidden {
  display: none;
}

.Landmark.search-tip b,
.Landmark.leaflet-marker-icon {
  background: #f66;
}

.Street.search-tip b,
.Street.leaflet-marker-icon {
  background: #66f;
}

#overlayRadio{
    margin-top: 10px;
}

.search-tooltip, #select_div{
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: calc(100vh - 350px);
  padding: 5px;
}
.search-tooltip::-webkit-scrollbar,#select_div::-webkit-scrollbar {
  width: 5px;
}

.search-tooltip::-webkit-scrollbar-track,#select_div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.search-tooltip::-webkit-scrollbar-thumb,#select_div::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px lightgrey;
}



/* The container */
.onofflayer {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  /* font-size: 22px; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.onofflayer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #221d1f;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.onofflayer:hover input ~ .checkmark {
  background-color: #221d1f;
}

/* When the radio button is checked, add a black background */
.onofflayer input:checked ~ .checkmark {
  background-color: #000;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.onofflayer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.onofflayer .checkmark:after {
  top: 6.3px;
  left: 6.5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}